html, body, .templatehtml {
	/* set .container's parents to 100% so .container can set its height to the viewport height */
	height: 100%;
}

body {
	background-color: #777;
}

.container, .container-fluid {
	background-color: #d2cda8;
/* 
	border-left: 2px solid #666;
	border-right: 2px solid #666;
 */
	min-height: 100%; /* min-height used so div height applies to scrolled content */
}
@media (min-width: 300px) {
	.fixedSizeHomeButton {
		margin-top:30px;
		width: 150px;
		font-size: 100%;
}

@media (min-width: 768px) {
	.fixedSizeHomeButton {
		margin-top:40px;
		width: 300px;
		font-size: 200%;
  }
}

.homeScreen
{
	background-image: url(../images/background.jpg);
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-size:100% 100%;
    background-position:center center;
	height: 100%;
}


input[type="checkbox"] {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.checkbox.disabled,
label.disabled {
	color: #aaa;
}

.checkbox.indented {
	margin-left: 20px;
}

.fixedSizeButton {
	margin-top:40px;
	width: 150px;
}

.submitButtonInfo {
	margin-top:40px;
}

.navBar {
	margin-top:10px;
	font-size: 18px;
	margin-bottom:10px;
}

.helpButton {
	background: transparent;
    border: none !important;
    /* margin-left: -5px; */
}

.checkbox .checkbox-label {
	font-weight: 700;
}

.selectTopTitle {
	font-weight: 700;
	margin-bottom: 3px;
	margin-top: -3px;
}

.has-error .selectTopTitle {
	color: #a94442;
}

.androidselect {
	-webkit-appearance: listbox;
	background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==); /* a simple arrow img */
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #efefef;
}

.photobox{
	position: relative;
	width: 100%;		/* desired width */
/* 
	background-color: #ffffff; 
	height:50%; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
 */	margin-top: 20px;
	margin-bottom: 20px;
}
 
/* 
.photobox:before{
	content: "";
	display: block;
	padding-top: 50%; 	
}
.photoboxcontent{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
 */
 
.submit-sighting {
	position: relative;
	margin-top: 20px;
}

figcaption {
	font-size: 80%
}

/* make info buttons bigger and gray */
.glyphicon-info-sign {
	font-size: 1.5em;
	color: #666;
}

.coordinate-text {
	color: #888;
}